.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/ibiza.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

  
  h1 {
    font-size: 2.5em;
    color: #fff;
  }
  
  h2 {
    font-size: 1.8em;
    color: #fff;
  }
  
  h3 {
    font-size: 1.5em;
    color: #fff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Style the buttons container */
  .button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  button {
    background-color: #f09226;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #7ba211;
  }
  
  /* Responsive styles for smaller screens */
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 1.5em;
    }
  
    h2 {
      font-size: 1.5em;
    }
  
    h3 {
      font-size: 1.3em;
    }
  
    button {
      font-size: 1em;
    }
  
    /* Adjust the button container for smaller screens */
    .button-container {
      flex-direction: column;
      align-items: center;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    background-color: #f09226;
  }
  
  .ps{
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 0px;
  }