.marbella {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  margin-top: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../images/marbella-back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.marbella-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.marbella-column {
  flex: 1;
  max-width: 400px;
  margin: 10px;
}

h2 {
  font-size: 1.2em;
  color: #fff;
}

.marbella-button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(89, 147, 248);
}

#marbella{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(89, 147, 248);
}

a{
  text-decoration: none;
}

#marbella-images{
  max-width: 100%;
}